<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- rar x docs.rar c:\docs\ -->
    <add key="zip" value="C:\Program Files\WinRAR\Rar.exe"/>
    <!-- Android Killer路径 -->
    <add key="akpath" value="D:\soft_all\develop_help_tool\AndroidKiller_v1.3.1\"/>
  </appSettings>
</configuration>